/******************************** GENERAL RESET *************************************/

:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --VeryDarkBlue: hsl(234, 12%, 34%);
  --GrayishBlue: hsl(229, 6%, 66%);
  --VeryLightGray: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%; /*** It's like 1rem ==> 10px ***/
}

/******************************* END OF GENERAL RESET *********************************/


body {
  font-size: 1.5rem;
  line-height: 1.5;
  background-color: var(--VeryLightGray);
  margin-top: 10rem;
}

/*********************************** HEADER PART **************************************/

.about{
    width: 40rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.quality {
  font-weight: 200;
  font-size: 3rem;
  color: var(--VeryDarkBlue);
}

.powered {
  font-weight: 600;
  font-size: 3rem;
  color: var(--VeryDarkBlue);
  margin-bottom: 1rem;
}

.description {
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--GrayishBlue);
}

/*********************************** END OF HEADER PART ******************************************/



/********************************* SERVICES SECTION **********************************************/

.services{
    height: 100vh;
}

/***** GENERAL BOX LAYOUT ******/

.offering{
    width: 30rem;
    height: 20rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.356);
}

.cyan{
border-top: .4rem solid var(--Cyan);
}

.red{
    border-top: .4rem solid var(--Red);
}

.blue{
    border-top: .4rem solid var(--Blue);
}

.orange{
    border-top: .4rem solid var(--Orange);
}

/***** GENERAL BOX LAYOUT ******/

/********************************* SERVICES SECTION **********************************************/