

/******************************** GENERAL RESET *************************************/

:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --VeryDarkBlue: hsl(234, 12%, 34%);
  --GrayishBlue: hsl(229, 6%, 66%);
  --VeryLightGray: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%; /*** It's like 1rem ==> 10px ***/
}

/******************************* END OF GENERAL RESET *********************************/


body {
  font-size: 1.5rem;
  line-height: 1.5;
  background-color: var(--VeryLightGray);
  padding: 2rem 0;
}

/*********************************** HEADER PART **************************************/


.about{
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 4rem auto;
}


.quality {
  font-weight: 200;
  font-size: 3rem;
  color: var(--VeryDarkBlue);
}

.powered {
  font-weight: 600;
  font-size: 3rem;
  color: var(--VeryDarkBlue);
  margin-bottom: 1rem;
}

.description {
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--GrayishBlue);
}

/*********************************** END OF HEADER PART ******************************************/



/********************************* SERVICES SECTION **********************************************/

.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 958px) {

    .services{
        flex-direction: column;
    }
}

@media screen and (max-width: 420px) {
    
    .about{
        width: 25rem;
    }

    .quality, .powered{
        font-size: 2rem;
    }

    .services{
        flex-direction: row;
    }

}

/***** GENERAL BOX LAYOUT ******/

.offering{
    width: 30rem;
    height: 20rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 1rem 2.5rem rgba(84, 158, 242, 0.123);
    padding: 2.5rem;
}


.longer{
    margin: 3rem;
}

.cyan{
    border-top: .3rem solid var(--Cyan);
    background-image: url(images/icon-supervisor.svg);
    background-repeat: no-repeat;
    background-position: bottom 2vw right 5vh;
    background-size: 15%;

}

.red{
    border-top: .3rem solid var(--Red);
    background-image: url(images/icon-team-builder.svg);
    background-repeat: no-repeat;
    background-position: bottom 2vw right 5vh;
    margin-bottom: 3rem;
    background-size: 15%;
}

.blue{
    border-top: .3rem solid var(--Blue);
    background-image: url(images/icon-calculator.svg);
    background-repeat: no-repeat;
    background-position: bottom 2vw right 5vh;
    background-size: 15%;
}

.orange{
    border-top: .3rem solid var(--Orange);
    background-image: url(images/icon-karma.svg);
    background-repeat: no-repeat;
    background-position: bottom 2vw right 5vh;
    background-size: 15%;
}


@media screen and (max-width: 470px){

    .red, .cyan, .orange, .blue{
        background-position: bottom 5vw right 5vh;
    }

    .offering{
        width: 25rem;
    }
}


/***** END OF GENERAL BOX LAYOUT ******/


/***** GENERAL BOX TYPOGRAPHY ******/

.skills{
    font-weight: 600;
    color: var(--VeryDarkBlue);
    margin-bottom: 1rem;
}

.little-description{
    font-weight: 400;
    font-size: 1.1rem;
    color: var(--GrayishBlue);
}

/***** END OF GENERAL BOX TYPOGRAPHY ******/


/********************************* SERVICES SECTION **********************************************/

