/******************************** GENERAL RESET *************************************/

:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --VeryDarkBlue: hsl(234, 12%, 34%);
  --GrayishBlue: hsl(229, 6%, 66%);
  --VeryLightGray: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%; /*** It's like 1rem ==> 10px ***/
}

/******************************* END OF GENERAL RESET *********************************/


body {
  font-size: 1.5rem;
  line-height: 1.5;
  background-color: var(--VeryLightGray);
  padding: 5rem 20rem;
}

/*********************************** HEADER PART **************************************/

.about{
    width: 40rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.quality {
  font-weight: 200;
  font-size: 3rem;
  color: var(--VeryDarkBlue);
}

.powered {
  font-weight: 600;
  font-size: 3rem;
  color: var(--VeryDarkBlue);
  margin-bottom: 1rem;
}

.description {
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--GrayishBlue);
}

/*********************************** END OF HEADER PART ******************************************/



/********************************* SERVICES SECTION **********************************************/

.services{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
}

/***** GENERAL BOX LAYOUT ******/

.offering{
    width: 30rem;
    height: 20rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.199);
    padding: 2.5rem;
}

.cyan{
    border-top: .4rem solid var(--Cyan);
    background-image: url(images/icon-supervisor.svg);
    background-repeat: no-repeat;
    background-position: bottom 2vw right 5vh;

}

.red{
    border-top: .4rem solid var(--Red);
    background-image: url(images/icon-team-builder.svg);
    background-repeat: no-repeat;
    background-position: bottom 2vw right 5vh;
}

.blue{
    border-top: .4rem solid var(--Blue);
    background-image: url(images/icon-calculator.svg);
    background-repeat: no-repeat;
    background-position: bottom 2vw right 5vh;
}

.orange{
    border-top: .4rem solid var(--Orange);
    background-image: url(images/icon-karma.svg);
    background-repeat: no-repeat;
    background-position: bottom 2vw right 5vh;
}

/***** END OF GENERAL BOX LAYOUT ******/


/***** GENERAL BOX TYPOGRAPHY ******/

.skills{
    font-weight: 600;
    color: var(--VeryDarkBlue);
    margin-bottom: 1rem;
}

.little-description{
    font-weight: 400;
    font-size: 1.1rem;
    color: var(--GrayishBlue);
}

/***** END OF GENERAL BOX TYPOGRAPHY ******/


/********************************* SERVICES SECTION **********************************************/